<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>

<body style="background-color: rgb(59, 58, 58);">
    <%- include('partials/navbar.ejs') %>
    <h1 style=" text-align: center; color: white;">404 - Not Found</h1>
    <p style="text-align: center; color:white;">The page you are looking for does not exist.</p>
</body>
</html>
